@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container py-4">
    <div class="row align-items-md-stretch">
        <div class="col-md-8">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                <div class=" container-fluid py-5">
                    <h1 class="display-5 fw-bold">Microsoft Entra Verified ID</h1>
                    <h3 class="py-2">Employee Onboarding Live Demo</h3>
                    <p class="col-md-12 fs-4 py-4">Microsoft Entra Verified ID can help
                        customers facing remote onboarding users scenarios because it can use government issued ID based attestations as a
                        way to establish trust.</p>
                    <a class="btn btn-warning btn-lg" href="/users">Start now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="text-align: right;">
    <img src="~/images/homepage_bg.jpg" class="img-fluid wgu-background-image"
        style="position: absolute; top: 0; left:0; z-index: -50">
</div>
