@page
@model woodgrove_portal.Pages.UsersModel
@{
    <h1>Users</h1>
    <h2>@this.Request.PathBase</h2>
    <div class="row" style="margin-top: 50px;">

        <div class="col-md-2">
            <select class="form-select" aria-label="By" id="inputSearchBy">
                <option value="name" selected>Name</option>
                <option value="mail">Email</option>
                <option value="department">Department</option>
                <option value="jobTitle">Job title</option>
            </select>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" maxlength="15" placeholder="" id="inputSearch" aria-label="Search">
        </div>
        <div class="col">
            <button type="submit" class="btn btn-light"
                onclick="getUsers( null, $('#inputSearch').val(), $('#inputSearchBy').val())"><i class="bi bi-search"></i>
                &nbsp;Search</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#newUserModal"><i
                    class="bi bi-person-plus"></i> &nbsp;
                Add employee</button>
        </div>
    </div>

    <table class="table table-striped" id="users" style="margin-top: 20px;">
        <thead>
            <tr>
                <th>Display name</th>
                <th>User principal name </th>
                <th>Job title</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <div class="spinner-border text-secondary" role="status" id="spinner">
        <span class="visually-hidden">Loading...</span>
    </div>
    <br>
    <a href="#" id="nextPage" style="display: none;">Load more</a>


    <div class="modal" tabindex="-1" id="newUserModal">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add new employee</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 row">
                        <label for="newUPN" class="col-sm-2 col-form-label">Principal name (UPN) *</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="newUPN" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="newEmail" class="col-sm-2 col-form-label">Email *</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="newEmail" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="newDisplayName" class="col-sm-2 col-form-label">Display name *</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="newDisplayName" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="newGivenName" class="col-sm-2 col-form-label">Given name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="newGivenName">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="newSurname" class="col-sm-2 col-form-label">Surname</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="newSurname">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="newDepartment" class="col-sm-2 col-form-label">Department</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="newDepartment">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="newJobTitle" class="col-sm-2 col-form-label">Job title</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="newJobTitle">
                        </div>
                    </div>

                    <div class="alert alert-danger" id="newEmployeeAlert">
                        <strong>Error!</strong> <span id="newEmployeeAlertMessage"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="newEmployeeButton" onclick="addNewEmployee()">
                        <span class="spinner-border spinner-border-sm" id="newEmployeeSpinner" role="status"
                            aria-hidden="true"></span>
                        <span class="sr-only">Add new employee</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="userDetailsModal">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Employee details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 row">
                        <label for="detailsUPN" class="col-sm-2 col-form-label">Principal name (UPN) *</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control" id="detailsUPN" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="detailsEmail" class="col-sm-2 col-form-label">Email *</label>
                        <div class="col-sm-10">
                            <input type="email" readonly class="form-control" id="detailsEmail" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="detailsDisplayName" class="col-sm-2 col-form-label">Display name *</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="detailsDisplayName" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="detailsGivenName" class="col-sm-2 col-form-label">Given name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="detailsGivenName">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="detailsSurname" class="col-sm-2 col-form-label">Surname</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="detailsSurname">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="detailsDepartment" class="col-sm-2 col-form-label">Department</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="detailsDepartment">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="detailsJobTitle" class="col-sm-2 col-form-label">Job title</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="detailsJobTitle">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="detailsId" class="col-sm-2 col-form-label">ID</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="detailsId">
                        </div>
                    </div>

                    <div class="alert alert-danger" id="updateEmployeeAlert">
                        <strong>Error!</strong> <span id="updateEmployeeAlertMessage"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                    <button type="button" class="btn btn-primary" id="updateEmployeeButton" onclick="updateEmployee()">
                        <span class="spinner-border spinner-border-sm" id="updateEmployeeSpinner" role="status"
                            aria-hidden="true"></span>
                        <span class="sr-only">Update</span>
                    </button>

                    <button type="button" class="btn btn-danger" id="updateDeleteEmployeeButton"
                        onclick="deleteEmployeeApproval()">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="deleteUserModal">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete employee account</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete the '<span id="deleteAccountName"></span>' account?
                </div>
                <div class="modal-footer">

                    <div class="alert alert-danger" id="deleteEmployeeAlert">
                        <strong>Error!</strong> <span id="deleteEmployeeAlertMessage"></span>
                    </div>

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>

                    <button type="button" class="btn btn-primary" id="deleteEmployeeButton" onclick="deleteEmployee()">
                        <span class="spinner-border spinner-border-sm" id="deleteEmployeeSpinner" role="status"
                            aria-hidden="true"></span>
                        <span class="sr-only">Yes</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts
{
    <script>
        function getUsers(nextPage, search, searchBy) {

            var apiUrl = "/api/users";

            if (nextPage != null) {
                // Load more users
                apiUrl = apiUrl + '?nextPage=' + nextPage;
            }
            else if (search != null) {
                // Search users
                apiUrl = apiUrl + '?search=' + search;

                if (searchBy != null)
                    apiUrl += '&searchBy=' + searchBy;
                // Clear the table 
                $("#users tr").remove();
            }

            // Show the spinner
            $("#spinner").show();

            $.ajax({
                url: apiUrl,
                success: function (result) {

                    result.users.forEach((element) => {
                        $('#users > tbody:last-child').append('<tr><td><a href="#" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" onclick="userDetails(\'' + element.id + '\'); return false;">' + element.displayName + '</a></td><td>' + element.upn + '</td><td>' + element.jobTitle + '</td><td>' + element.email + '</td></tr>');
                    });

                    // Check if there is a next page
                    if (result.nextPage) {
                        $("#nextPage").attr('onclick', 'getUsers("' + result.nextPage + '"); return false;');
                        $("#nextPage").show();
                    }
                    else {
                        $("#nextPage").hide();
                    }

                    // Hide the spinner
                    $("#spinner").hide();
                }
            });
        }

        function addNewEmployee() {

            // Show the spinner and disable the buttons
            $('#newEmployeeSpinner').show();
            $('#newEmployeeButton').attr("disabled", true);

            // POST data
            var payload = {
                UPN: $("#newUPN").val(),
                Email: $("#newEmail").val(),
                DisplayName: $("#newDisplayName").val(),
                GivenName: $("#newGivenName").val(),
                Surname: $("#newSurname").val(),
                JobTitle: $("#newJobTitle").val(),
                Department: $("#newDepartment").val()
            };

            // Submit the request
            $.post("/api/users", payload, function (data) {

                // Hide the modal
                newUserModal.hide();

                // Search the users again
                getUsers(null, $('#inputSearch').val(), $('#inputSearchBy').val());
            }).fail(function (response) {
                console.log(response)

                $('#newEmployeeAlert').show();
                $('#newEmployeeSpinner').hide();
                $('#newEmployeeButton').attr("disabled", false);
                $('#newEmployeeAlertMessage').text(response.responseJSON.error);
            });
        }

        function userDetails(oid) {

            // Show the spinner  
            //$("#spinner").show();

            $.ajax({
                url: "/api/users?oid=" + oid,
                success: function (result) {

                    if (result != null && result.users != null && result.users.length > 0) {

                        $("#detailsUPN").val(result.users[0].upn);
                        $("#detailsEmail").val(result.users[0].email);
                        $("#detailsDisplayName").val(result.users[0].displayName);
                        $("#detailsGivenName").val(result.users[0].givenName);
                        $("#detailsSurname").val(result.users[0].surname);
                        $("#detailsJobTitle").val(result.users[0].jobTitle);
                        $("#detailsDepartment").val(result.users[0].department);
                        $("#detailsId").val(result.users[0].id);
                        $("#deleteAccountName").text(result.users[0].displayName);

                        // employeeHireDate
                        // employeeId
                        userDetailsModal.show();

                    }
                }
            });
        }

        function updateEmployee() {

            // Show the spinner and disable the buttons
            $('#updateEmployeeSpinner').show();
            $('#updateEmployeeButton').attr("disabled", true);
            $('#updateDeleteEmployeeButton').attr("disabled", true);

            // POST data
            var payload = {
                ID: $("#detailsId").val(),
                UPN: $("#detailsUPN").val(),
                Email: $("#detailsEmail").val(),
                DisplayName: $("#detailsDisplayName").val(),
                GivenName: $("#detailsGivenName").val(),
                Surname: $("#detailsSurname").val(),
                JobTitle: $("#detailsJobTitle").val(),
                Department: $("#detailsDepartment").val()
            };

            // Submit a PATCH request
            $.ajax({
                url: '/api/users',
                type: 'PATCH',
                data: payload,
                success: function (result) {
                    userDetailsModal.hide();

                    // Search the users again
                    getUsers(null, $('#inputSearch').val(), $('#inputSearchBy').val());
                }
            }).fail(function (response) {
                console.log(response)
                $('#updateEmployeeAlert').show();
                $('#updateEmployeeAlertMessage').text(response.responseJSON.error);

                $('#updateEmployeeSpinner').hide();
                $('#updateEmployeeButton').attr("disabled", false);
                $('#updateDeleteEmployeeButton').attr("disabled", false);

            });;
        }

        function deleteEmployeeApproval() {
            userDetailsModal.hide();
            deleteUserModal.show();
        }

        function deleteEmployee() {

            // Show the spinner and disable the buttons
            $('#deleteEmployeeSpinner').show();
            $('#deleteEmployeeButton').attr("disabled", true);

            $.ajax({
                url: "/api/users?oid=" + $("#detailsId").val(),
                type: 'DELETE',
                success: function (result) {
                    deleteUserModal.hide();

                    // Search the users again
                    getUsers(null, $('#inputSearch').val(), $('#inputSearchBy').val());
                }
            }).fail(function (response) {
                console.log(response)
                $('#deleteEmployeeAlert').show();
                $('#deleteEmployeeAlertMessage').text(response.responseJSON.error);

                $('#deleteEmployeeSpinner').hide();
                $('#deleteEmployeeButton').attr("disabled", false);

            });
        }


        var newUserModal, userDetailsModal, deleteUserModal;

        $(document).ready(function () {

            getUsers();

            // Initiate the modals
            var newUserModalEl = document.getElementById('newUserModal')
            newUserModal = bootstrap.Modal.getOrCreateInstance(newUserModalEl);

            var userDetailsModalEl = document.getElementById('userDetailsModal')
            userDetailsModal = bootstrap.Modal.getOrCreateInstance(userDetailsModalEl);

            var deleteUserModalEl = document.getElementById('deleteUserModal')
            deleteUserModal = bootstrap.Modal.getOrCreateInstance(deleteUserModalEl);

            $('#newUserModal').on('show.bs.modal', function (e) {
                // Hide the new employee spinner and activate the create button
                $('#newEmployeeSpinner').hide();
                $('#newEmployeeAlert').hide();
                $('#newEmployeeButton').attr("disabled", false);
            })

            $('#deleteUserModal').on('show.bs.modal', function (e) {
                // Hide the delete employee spinner and activate the create button
                $('#deleteEmployeeSpinner').hide();
                $('#deleteEmployeeAlert').hide();
                $('#deleteEmployeeButton').attr("disabled", false);
            })

            $('#userDetailsModal').on('show.bs.modal', function (e) {
                // Hide the update employee spinner and activate the create button
                $('#updateEmployeeSpinner').hide();
                $('#updateEmployeeAlert').hide();
                $('#updateEmployeeButton').attr("disabled", false);
                $('#updateDeleteEmployeeButton').attr("disabled", false);
            })
        })

    </script>

}